li {
    list-style: none;
}

a {
    text-decoration: none;
}

$maxWidth: 1170px;

.top__menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: $maxWidth;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0 15px;

    .top__menu__list {
        display: flex;
        flex-flow: row wrap;
        gap: 1.75rem;

        margin-right: auto;

        li {
            display: block;
            position: relative;

            a {
                font-size: 12px;
                color: #808991;
                line-height: 50px;
            }
        }
    }

    .top__menu__login {
        a:nth-child(1) {
            font-size: 12px;
            color: #808991;
            line-height: 50px;
            margin: 0px 10px;
        }
    }
}

.header {
    width: 100%;

    .header__menu__container {
        display: block;
        position: relative;
        background: #0064d2;


        .header__menu {
            display: flex;
            flex-flow: row wrap;
            gap: 1.75rem;
            position: relative;
            max-width: $maxWidth;
            width: 100%;
            height: auto;
            margin: auto;
            padding: 0 15px;

            line-height: 60px;
            align-items: center;

            .header__bar {}

            .header__logo {}

            .menu__list__product {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: flex-end;
                flex-direction: row;
                gap: 1rem;

                a {
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }

}

.main {

    .main__tour h2,
    .main_tourcombo h2 {
        text-align: center;
        font-size: 28px;
    color: #15284a;
    font-family: 'os_semi_bold';
    margin: 40px 0;
    }

    .main__items {
        width: 1000px;
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;

        .item {
            background: #f1f1f1;
            width: 280px;
            height: fit-content;

            .item__img {
                position: relative;

                img {
                    width: 100%;
                }

                h3 {
                    position: absolute;
                    top: 8px;
                    right: 10px;
                    background-color: #00b904;
                    top: 10px;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 0 0 2px rgba(0, 0, 0, .24);
                    padding: 5px 5px 5px 10px;
                    color: #fff;
                }

                p {
                    position: absolute;
                    bottom: 8px;
                    background: linear-gradient(to right, #ff425b, #ff4d64);
                    color: #fff;
                    padding: 8px 10px;
                    left: 10px;
                    box-shadow: 1px 3px 3px rgba(87, 87, 87, .3);
                    border-radius: 2px;
                }
            }

            .item__country {
                color: #fff;
                font-size: 16px;
                line-height: 35px;
                padding-left: 10px;
                background: #3c669e;

                .check {
                    color: rgba(255, 255, 255, 0.50);
                    font-size: 20px;
                }
            }

            .item__content {
                font-size: 14px;
                color: #5c5c5c;
                font-family: 'r_conde_regular';
                padding: 0px 10px;

                p:nth-child(1) {
                    overflow: hidden;
                    height: 33px;
                    padding: 10px 0px;
                    font-size: 14px;
                    color: #000000;
                    font-family: 'r_conde_regular';
                }

                .item__price p {
                    text-align: end;
                    padding-right: 2rem;
                    font-size: 24px;
                    color: #fc0309;
                    font-family: 'r_conde_bold';
                    height: auto;
                    font-weight: bold;
                }
            }
        }

        .item {
            background: #f1f1f1;
        }
    }

    .main_tourcombo {
        .main__items__combo {
            width: 1000px;
            display: flex;
            justify-content: space-between;
            margin-right: auto;
            margin-left: auto;

            .item__combo {
                border-radius: 8px;
                box-shadow: 4px 8px 23px 0 rgba(215, 220, 230, 0.72);
                background: #fff;

                img {

                    width: 380px;
                }

                .item__title__combo {
                    >p {
                        color: #15284a;
                        display: inline-block;
                        width: 100%;
                        line-height: 40px;
                        line-height: 1.56;
                        padding: 20px;
                        font-size: 16px;
                        font-weight: bold;
                    }

                    .item__price__combo {
                        display: flex;
                        border-top: 1px solid rgba(212, 214, 217, 0.44);
                        padding-top: 20px;
                        background: #fff;
                        justify-content: space-around;
                        padding: 18px 0;
                        >p{
                            font-family: 'os_semi_bold';
    color: red;
    line-height: 35px;
    font-size: 16px;
    font-weight: bold;
                        }
                        .item__btn {
                            >a{
                                border-radius: 5px;
                                background-color: #0064d2;
                                display: block;
                                font-size: 14px;
                                font-family: 'os_semi_bold';
                                font-weight: bold;
                                text-transform: uppercase;
                                max-width: 120px;
                                text-align: center;
                                color: #fff;
                                line-height: 35px;
                                width: 120px;
                            }
                        }
                    }
                }
            }
        }
    }

}